* {
  margin: 0;
  padding: 0;
  font-family: Nunito Sans;
  box-sizing: border-box;
}

.div-mobile-bg {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image:
    repeating-linear-gradient(to right, rgba(0,0,0,0.25) 0, rgba(0,0,0,0.25) 1px, transparent 1px, transparent 34.447px),
    repeating-linear-gradient(to bottom, rgba(0,0,0,0.25) 0, rgba(0,0,0,0.25) 1px, transparent 1px, transparent 38.893px);
}

.div-mobile-bg svg {
  display: none;
}

.div-hero {
  display: flex;
  margin: 16px;
  margin-top: 0;
  padding-top: 4em;
  padding-bottom: 2em;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}

.div-hero img {
  width: 10em;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.div-hero-text {
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 1.5em;
  font-style: normal;
  font-weight: 600;
  line-height: 2.375rem; /* 86.364% */
  letter-spacing: -0.0275rem;
  text-transform: uppercase;
}

.div-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
  width: 100%;
}

.div-menu-item {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid #000;
  background: #fcfcfc;
  width: 100%;
  position: relative;
  overflow: hidden;
}


.appetiser-artwork,
.side-dish-artwork,
.main-dish-artwork,
.specials-artwork,
.dessert-artwork {
  position: absolute;
  right: 0;
  top: 0;
}

.appetiser-artwork img {
  height: 10rem;
  width: auto;
  display: block;
  padding: 0;
}

.side-dish-artwork img,
.main-dish-artwork img,
.specials-artwork img,
.dessert-artwork img {
  height: 10rem;
  width: auto;
  display: block;
  padding: 0;
}

.side-dish-artwork img {
  height: 7em;
}

.main-dish-artwork img,
.dessert-artwork img {
  height: 7rem;
}

.artwork-default {
  display: block;
}

.artwork-hover {
  display: none;
}

.appetiser:hover .artwork-default,
.side-dish:hover .artwork-default,
.main-dish:hover .artwork-default,
.specials:hover .artwork-default,
.dessert:hover .artwork-default {
  display: none;
}

.appetiser:hover .artwork-hover,
.side-dish:hover .artwork-hover,
.main-dish:hover .artwork-hover,
.specials:hover .artwork-hover,
.dessert:hover .artwork-hover {
  display: block;
}

.specials-artwork {
  top: -2rem;
}

.specials:hover .artwork-hover {
  transform: rotate(-15deg);
}

.div-menu-item:hover {
  box-shadow: 0.25em 0.25em 0 0 #000;
}

.div-hero-wrapper {
  position: relative;
  height: 100%;
}

.div-hero-bg-shape {
  padding-top: 14em;
  padding-bottom: 0.5rem;
  position: absolute;
  top: 8em;
  width: 100%;
  height: 88%;
  z-index: -1;
  background: #fae089;
  border-radius: 50% 50% 0 0 / 8em 8em 0 0;
}

@media (min-width: 768px) {
  .div-hero-bg-shape {
    border-radius: 15em 15em 0 0;
    padding-bottom: 0;
  }
}

.div-about {
  margin-top: 4em;
  padding: 3em 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
  background: #c15555;
  z-index: 7;
  position: relative;
}

.div-title {
  width: 100%;
}

.div-about-inside {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1em 0em 0em 8em;
}

.div-about-text {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.div-about-float{
position: absolute;
left: -1.75rem;
bottom: 2em;
}

footer{
    background-color: white;
    padding: 2em 0em;
}

.marquee{
white-space: nowrap;
border-top: solid #000 1px;
border-bottom: solid #000 1px;
padding-top: 0.25em;
padding-bottom: 0.25em;
overflow: hidden;
}

.div-marquee-track{
    width: max-content;
    display: flex;
    white-space: nowrap;
    animation: animate 25s linear infinite;
}

.div-marquee-frame{
    flex-shrink: 0;
white-space: nowrap;
}

@keyframes animate{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}


/* fonts */

h1 {
  font-family: "Nunito Sans";
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.4375rem;
  letter-spacing: -0.0275rem;
  text-transform: uppercase;
}

.h1-italics {
  font-size: 2.75rem;
  font-style: italic;
  font-weight: 500;
  line-height: 2.375rem;
  letter-spacing: -0.0275rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.375rem; /* 158.333% */
  letter-spacing: -0.015rem;
  text-transform: uppercase;
}

.body-copy-one {
  text-align: justify;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5em; /* 1.10719rem */
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin: 1em 3em;
text-align: center;
}

.body-copy-two {
  text-align: justify;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5em; /* 1.10719rem */
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
